<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Histórico</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content>
  <div id= "avatar">
      <img width="80px" src="{{imagen}}">
  </div>

  <div *ngIf="historico">
    <div *ngFor="let fecha of historico">
      <ion-card>
        <ion-card-title text-center>
          {{fecha.date}}
        </ion-card-title>
        <ion-card-content>
          {{fecha.eventID}}
          <br>
          {{fecha.status}}
          <br>
          {{fecha.comments}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
